.mobileNav {
    display: none;
}
@media screen and (max-width: 1050px) {
    .mobileNav {
        display: block;
        width: 100%;
        height: 100vh;
        background: #029491;
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 0;
        padding: 34px 28px 77px;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .menuHeader {
        margin-bottom: 80px;
    }
    .active {
        transform: translateX(0%);
        opacity: 1;
    }
    .navigate {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;
        .navigateItem {
            color: #fff;
            margin-bottom: 26px;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .accountWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__register {
            color: #fff;
            opacity: 0.4;
            cursor: not-allowed;
            margin-bottom: 20px;
        }
        &__loginBtn {
            padding: 15px 117px;
            background: #7ce3e1;
            margin: 0 auto;
            font-size: 20px;
            color: #000;
            font-weight: bold;
        }
    }
}
